@import '~antd/dist/antd.css';

.App {
    text-align: center;
    height: 100%;
}

.App-header {
    background-color: rgb(25, 28, 31);
    display: flex;
    justify-content: space-between;
    color: #fff;
    height: 64px;
}

.App-header img {
    width: 32px;
    height: 32px;
    margin: 16px 32px;
}

.App-header .line {
    margin-left: 80px;
    height: 28px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
}

.App-body {
    display: flex;
    height: 100%;

}

.App-body-container {

}
